$white: #ffffff;
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Nunito, monospace;
  background-image: url("../img/black.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: hsl(0, 0%, 2%);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
  border: 3px solid hsl(0, 0%, 2%);
}
body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 60%);
}
.footerSocialLink {
  padding: 30px 20px 30px 20px;
  background: hsl(0, 0%, 2%);
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
ul li {
  list-style: none;
}
ul li a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 5px;
  border-radius: 20px;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  background: linear-gradient(0deg, #ddd, #fff);
}
ul li a .fab {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 20px;
  line-height: calc(60px - 12px);
  font-size: 30px;
  color: #262626;
  transition: 0.3s;
}
ul li:nth-child(1) a:hover .fab {
  color: #000000;
}
ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}
ul li:nth-child(3) a:hover .fab {
  color: #007bb6;
}
ul li:nth-child(4) a:hover .fab {
  color: #e4405f;
}
.projectBtn {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  cursor: pointer;
  width: 48%;
  height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.visit-button {
  background: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 0%);
  color: #fafafa;
  transition: 0.3s;
}
.visit-button:hover {
  background: #161616;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.git-button {
  border: 2px solid hsl(0, 0%, 0%);
  background: $white;
  color: #000000;
  transition: 0.3s;
}
.git-button:hover {
  background-color: rgb(207, 206, 205);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.projectBtn img {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.submitbutton {
  height: 60px;
  width: 60px;
  background-color: #fcfcfc;
  border: none;
  box-shadow: 0 6px 7px 5px rgba(0, 0, 0, 0.281);
  border-radius: 15px;
  color: #0e0e0e;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 30px;
}
.submitbutton:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 7px 2px rgba(0, 0, 0, 0.281);
  background-color: rgb(181, 181, 182);
}
.sectionTitleBar {
  top: 0;
  padding: 5vh;
  color: rgb(245, 243, 242);
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}
h2:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0px;
  bottom: 0;
  left: 25%;
  border-top: 4px solid rgb(245, 243, 242);
  border-bottom: 4px solid rgb(245, 243, 242);
  border-radius: 20px;
}

.heroSection {
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  text-align: center;
}
.heroSection p {
  font-style: italic;
  font-size: 1em;
}
.scroll-down {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid rgb(245, 243, 242);
  border-right: 4px solid rgb(245, 243, 242);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.aboutmeSection {
  display: flex;
  justify-content: center;
  overflow: hidden;

  .intro {
    padding: 100px 20px 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introsection {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $white;
    border-radius: 25px;
    padding: 15px;
    max-width: 1000px;
  }
  @media (max-width: 800px) {
    .introsection {
      flex-direction: column;
      padding-top: 70px;
      max-width: 500px;
    }
  }
  .heroImgContainer img {
    max-width: 30ch;
    box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .quotes1 {
    font-size: 4em;
  }
  .quote_left {
    text-align: right;
  }
  .aboutme_text {
    text-align: center;
    font-size: 1.5em;
    max-width: 380px;
    margin: 0 auto;
    overflow: hidden;
  }
  .emailview {
    font-size: 1.2rem;
    font-weight: 550;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
  }
  @media (max-width: 350px) {
    .emailview {
      font-size: 0.7em;
    }
  }

  .skills {
    width: 90%;
    max-width: 900px;
    margin: 6em 0;
    text-align: center;

    .badge {
      margin: 1.5em 2em;
      width: 110px;
      height: 110px;
      border-radius: 25%;
      display: inline-block;
      top: 0;
      box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
      background-color: rgba(235, 235, 235, 0.8);
      transition: 0.3s;
    }
    .badge:hover {
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .rounded {
      width: 84px;
      height: 84px;
      background-color: $white;
      position: absolute;
      margin: 13px 13px 13px 13px;
      z-index: 10;
      border-radius: 25%;
      box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .java {
      background: rgb(21, 101, 192);
    }
    .python {
      background: rgb(255, 217, 0);
    }
    .cprog {
      background: rgb(57, 73, 171);
    }
    .javascript {
      background: rgb(255, 214, 0);
    }
    .html {
      background: rgb(255, 140, 0);
    }
    .css {
      background: rgb(3, 154, 229);
    }
    @media (max-width: 550px) {
      .badge {
        margin: 1.5em 1.2em;
      }
    }
    @media (max-width: 420px) {
      .badge {
        margin: 1em 0.5em;
      }
    }
  }
}

#projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 60px 20px;
}
.mainProjectComponent {
  background-color: $white;
  box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
  display: flex;
  border: none;
  border-radius: 20px;
  flex-direction: column;
  max-width: 900px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
  color: #000000;
}
.projectThumbnaill img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.mainProjectComponent section {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
}
.title {
  display: inline-block;
  font-size: 2em;
}
.tag {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 30px;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  padding: 6px 8px;
  height: auto;
  line-height: 1;
  color: inherit;
  margin: 10px 0;
}
.description {
  margin: 0.6em 0;
  line-height: 1.5;
}
.btnContainer {
  margin: 10px 0;
}
.btnContainer {
  text-align: center;
}
@media (min-width: 640px) {
  #projectContainer .mainProjectComponent {
    flex-direction: row;
    max-height: unset;
  }
  #projectContainer .mainProjectComponent .projectThumbnaill,
  #projectContainer .mainProjectComponent section {
    width: 50%;
  }
}

.timeline-body-container {
  .timeline_body {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: rgb(0, 0, 0);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 4px;
      height: 100%;
      background-color: $white;
    }
    .timeline-container {
      position: relative;
      margin-bottom: 2.5rem;
      .timeline-icon {
        position: absolute;
        left: -88px;
        top: 4px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        font-size: 25px;
        background-color: $white;
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
        i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .timeline-body {
        background-color: $white;
        border-radius: 20px;
        padding: 25px;
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
        &:before {
          content: "";
          background: inherit;
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          left: -10px;
          transform: rotate(45deg);
          border-radius: 0 0 0 2px;
        }
        .timeline-title {
          margin-bottom: 20px;
          font-size: 2em;
          .date {
            font-size: 0.6em;
          }
        }
      }
    }
  }
}

.conatct-form-container {
  padding-bottom: 30px;

  .input-container {
    padding: 0 20px 30px 20px;
    margin: 0 auto;
    max-width: 500px;
  }
  .styled-input {
    margin: 1rem 0;
    position: relative;
    display: flex;
  }
  .styled-input label {
    color: rgb(0, 0, 0);
    padding: 1.2rem 0px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 1.1rem;
    font-weight: 550;
  }
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 1em;
    color: rgb(22, 22, 22);
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }
  input,
  textarea {
    padding: 30px;
    border: none;
    font-size: 1.2rem;
    background-color: $white;
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 20px;
    width: 100%;
    box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
  }
  textarea {
    min-height: 10em;
    min-width: 100%;
  }
  .contactButton {
    margin: 0 auto;
    text-align: center;
  }
}
