@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
body {
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  background-image: url(../img/wrapped.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-color: #121217;
}

@media (max-width: 830px) {
  body {
    background-position: top;
    background-size: 150%;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #050505;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 25px;
  border: 3px solid #050505;
}

body::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.sectionTitleBar {
  font-weight: 700;
  color: #ffffff;
  font-size: 2.5em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 80px 0px 80px 0px;
  text-align: center;
}

.sectionTitleBar .pill {
  margin-top: 5px;
  width: 100px;
  height: 10px;
  background-color: white;
  border-radius: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: 80px;
  position: absolute;
}

.header a {
  margin: 0 10px;
  font-size: 20px;
  position: relative;
  display: block;
}

.header .pillUnderline {
  margin-top: 5px;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  opacity: 0%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}

.header a:hover .pillUnderline {
  opacity: 100%;
}

.hero-section-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.hero-section-container .hero-section-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 900px;
  grid-gap: 150px;
  place-items: center;
}

.hero-section-container .heroImg {
  width: 320px;
  height: 320px;
}

.hero-section-container .heroImg img {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: -8px 8px 30px rgba(137, 61, 70, 0.726);
          box-shadow: -8px 8px 30px rgba(137, 61, 70, 0.726);
}

.hero-section-container .heroText {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.hero-section-container .heroText h4 {
  font-size: 40px;
  margin-bottom: 5px;
}

.hero-section-container .heroText h1 {
  font-size: 100px;
  margin: 0px;
  line-height: 90px;
}

.hero-section-container .heroText p {
  margin-top: 20px;
  font-size: 20px;
}

.hero-section-container .heroBtnContainer {
  padding: 30px 0px 0px 0px;
}

.hero-section-container .heroBtnContainer button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: white;
  letter-spacing: 1.5px;
  cursor: pointer;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.hero-section-container .heroBtnContainer .heroBtn1 {
  background: -webkit-gradient(linear, right top, left top, from(#0575e6), to(#021b79));
  background: linear-gradient(to left, #0575e6, #021b79);
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero-section-container .heroBtnContainer .heroBtn2 {
  border: 2px solid #0575e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero-section-container .heroBtnContainer button:hover {
  width: 125px;
  background: #0575e6;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 830px) {
  .hero-section-container .heroImg {
    width: 250px;
    height: 250px;
  }
  .hero-section-container .hero-section-body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 400px;
    grid-gap: 50px;
  }
}

@media (min-width: 831px) and (max-width: 1000px) {
  .hero-section-container {
    padding: 0 20px;
  }
  .hero-section-container .hero-section-body {
    grid-gap: 30px;
  }
}

@media (max-width: 830px) {
  .hero-section-container {
    padding: 100px 20px 0px 20px;
    height: auto;
  }
}

.skills-container {
  margin-bottom: 40px;
}

.skills-container .skills-container-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 1500px;
  padding: 0 20px;
}

.skills-container .sectionTitleBar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 800px) {
  .skills-container .skills-container-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-container .skills-container-body .skills {
    max-width: 500px;
  }
}

.skills-container .skills {
  text-align: center;
  background-image: url(../img/svg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  background-color: #2a2e3d;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40vw;
}

.skills-container .skills .badge {
  margin: 1em;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
  background-color: rgba(235, 235, 235, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills-container .skills .badge:hover {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.skills-container .skills .rounded {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.skills-container .skills .java {
  background: #1565c0;
}

.skills-container .skills .python {
  background: #ffd900;
}

.skills-container .skills .cprog {
  background: #3949ab;
}

.skills-container .skills .javascript {
  background: #ffd600;
}

.skills-container .skills .html {
  background: darkorange;
}

.skills-container .skills .css {
  background: #039ae5;
}

.skills-container .skills .react {
  background: #5ed3f3;
}

.project-body-container .project-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1500px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0px 20px;
}

.project-body-container .sectionTitleBar {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.project-body-container .cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  list-style-type: none;
}

@media (min-width: 900px) {
  .project-body-container .cards {
    padding-bottom: 50px;
  }
}

.project-body-container .card {
  margin: 0 auto;
  position: relative;
  max-height: 400px;
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  max-width: 340px;
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
}

.project-body-container .cardImage {
  width: 100%;
  height: 400px;
  -o-object-fit: fill;
     object-fit: fill;
}

.project-body-container .cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-body-container .card:hover .cardOverlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.project-body-container .cardHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  font-weight: 600;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-body-container .card:hover .cardHeader {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-body-container .cardTitle {
  font-size: 1.8em;
  color: #000000;
  max-width: 150px;
}

.project-body-container .cardSubhead {
  padding: 6px 7px 6px 7px;
  text-align: center;
  border-radius: 25px;
  border: solid 2px #000000;
  font-size: 1em;
  color: #000000;
}

.project-body-container .btnContainer {
  padding: 0 2em 2em 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.project-body-container .projectBtn {
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.project-body-container .visit-button {
  background: -webkit-gradient(linear, right top, left top, from(#0575e6), to(#021b79));
  background: linear-gradient(to left, #0575e6, #021b79);
  border: none;
  color: #fafafa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-body-container .visit-button:hover {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-body-container .git-button {
  border: 2px solid #0575e6;
  background-color: #ffffff;
  color: #0575e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-body-container .git-button:hover {
  background-color: #0575e6;
  color: #ffffff;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-body-container .projectBtn img {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.timeline-body-container {
  padding: 50px 0px 50px 0px;
}

.timeline-body-container .timeline-body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 100px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 20px 50px 20px;
}

@media (max-width: 850px) {
  .timeline-body-container .timeline-body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0px;
  }
}

.timeline-body-container .timeline {
  max-width: 700px;
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: #ffffff;
}

.timeline-body-container .timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 4px;
  height: 100%;
  background-color: #2a2e3d;
}

.timeline-body-container .timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline-body-container .timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  background: -webkit-gradient(linear, right top, left top, from(#0575e6), to(#021b79));
  background: linear-gradient(to left, #0575e6, #021b79);
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
}

.timeline-body-container .timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.timeline-body-container .timeline .timeline-container .timelineBody {
  background-color: #2a2e3d;
  border-radius: 25px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
}

.timeline-body-container .timeline .timeline-container .timelineBody:before {
  content: "";
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.timeline-body-container .timeline .timeline-container .timelineBody .timeline-title {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
}

.timeline-body-container .timeline .timeline-container .timelineBody .timeline-title .date {
  font-size: 0.6em;
}

.timeline-body-container .timeline .timeline-container .timelineBody .timeline-text {
  font-size: 1.2em;
}

.contact-form-container {
  padding: 50px 20px 150px 20px;
}

.contact-form-container .contact-body-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  max-width: 1000px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #2a2e3d;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
  background-image: url(../img/svg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.contact-form-container .sectionTitleBar {
  padding: 20px 0px 40px 0px;
}

.contact-form-container .contact-text {
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.contact-form-container .contact-text p {
  font-size: 20px;
}

@media (max-width: 700px) {
  .contact-form-container .contact-body-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 500px;
  }
  .contact-form-container .sectionTitleBar {
    padding: 80px 0px 80px 0px;
  }
  .contact-form-container .contact-text {
    padding-bottom: 50px;
  }
}

.contact-form-container .input-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  max-width: 500px;
  background: -webkit-gradient(linear, left top, right top, from(#00163f), to(#004e92));
  background: linear-gradient(to right, #00163f, #004e92);
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
  padding: 1.5rem;
}

.contact-form-container .styled-input {
  margin: 0 0 1rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form-container .styled-input label {
  color: black;
  padding: 1.2rem 0px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.contact-form-container input:focus ~ label,
.contact-form-container textarea:focus ~ label,
.contact-form-container input:valid ~ label,
.contact-form-container textarea:valid ~ label {
  font-size: 1em;
  color: #161616;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.contact-form-container input,
.contact-form-container textarea {
  padding: 30px;
  border: none;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: black;
  outline: none;
  border-radius: 25px;
  width: 100%;
  -webkit-box-shadow: 0 2px 15px 0 #0c0c0c;
          box-shadow: 0 2px 15px 0 #0c0c0c;
}

.contact-form-container textarea {
  min-height: 10em;
  width: 100%;
}

.contact-form-container .contactButton {
  margin: 0 auto;
  text-align: center;
}

.contact-form-container .btncontainer {
  position: absolute;
  bottom: -95px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-container .submitbutton {
  position: relative;
  display: block;
  width: 120px;
  height: 36px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.contact-form-container .submitbutton:hover {
  background-color: #cfcecd;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.contact-form-container .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

.contact-form-container .check {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(-4px, 50px, 0);
          transform: translate3d(-4px, 50px, 0);
  opacity: 0;
  color: white;
  font-size: 1em;
}

.contact-form-container .loader.active {
  -webkit-animation: loading 2s ease-in-out;
          animation: loading 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact-form-container .check.active {
  opacity: 1;
  -webkit-transform: translate3d(1px, 0, 0);
          transform: translate3d(1px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@-webkit-keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

.footer {
  padding: 50px 20px;
  background: #050505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footerText {
  color: #ffffff;
}

.footer .footerLine {
  height: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  border-radius: 20px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
  background: linear-gradient(0deg, #ddd, #fff);
}

.footer ul li a .fab {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#ddd));
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 20px;
  line-height: calc(60px - 12px);
  font-size: 30px;
  color: #262626;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul li:nth-child(1) a:hover .fab {
  color: #000000;
}

.footer ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.footer ul li:nth-child(3) a:hover .fab {
  color: #007bb6;
}

.footer ul li:nth-child(4) a:hover .fab {
  color: #e4405f;
}

@media (max-width: 500px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerText {
    margin-bottom: 50px;
  }
}
