body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Nunito, monospace;
  background-image: url("Img/sample2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #050505;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 20px;
  border: 3px solid #050505;
}

body::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

.footerSocialLink {
  padding: 30px 20px 30px 20px;
  background: #050505;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul li {
  list-style: none;
}

ul li a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 5px;
  border-radius: 20px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
  background: linear-gradient(0deg, #ddd, #fff);
}

ul li a .fab {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#ddd));
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 20px;
  line-height: calc(60px - 12px);
  font-size: 30px;
  color: #262626;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul li:nth-child(1) a:hover .fab {
  color: #000000;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(4) a:hover .fab {
  color: #e4405f;
}

.projectBtn {
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  cursor: pointer;
  width: 48%;
  height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.visit-button {
  background: black;
  border: 2px solid black;
  color: #fafafa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.visit-button:hover {
  background: #161616;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.git-button {
  border: 2px solid black;
  background: #f5f3f2;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.git-button:hover {
  background-color: #cfcecd;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.projectBtn img {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.submitbutton {
  height: 60px;
  width: 60px;
  background-color: #fcfcfc;
  border: none;
  -webkit-box-shadow: 0 6px 7px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 0 6px 7px 5px rgba(0, 0, 0, 0.281);
  border-radius: 15px;
  color: #0e0e0e;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 30px;
}

.submitbutton:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 6px 7px 2px rgba(0, 0, 0, 0.281);
          box-shadow: 0 6px 7px 2px rgba(0, 0, 0, 0.281);
  background-color: #b5b5b6;
}

.sectionTitleBar {
  top: 0;
  padding: 5vh;
  color: #f5f3f2;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}

h2:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0px;
  bottom: 0;
  left: 25%;
  border-top: 4px solid #f5f3f2;
  border-bottom: 4px solid #f5f3f2;
  border-radius: 20px;
}

.heroSection {
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 3em;
}

.title {
  font-weight: bold;
}

.heroSection div h1 {
  font-style: italic;
  font-size: 1em;
}

.scroll-down {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #f5f3f2;
  border-right: 4px solid #f5f3f2;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px) rotate(45deg);
            transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
            transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px) rotate(45deg);
            transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
            transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.aboutmeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.aboutmeSection .intro {
  background-color: #e8e8e8;
  border-radius: 25px;
  margin: 0 15px 50px 15px;
  padding: 0 15px 0 15px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutmeSection .heroImgContainer img {
  max-width: 30ch;
  -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.aboutmeSection .heroImgContainer {
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: 5%;
  padding-right: 5%;
}

.aboutmeSection .quotes1 {
  font-size: 4em;
}

.aboutmeSection .quote_left {
  text-align: right;
}

.aboutmeSection .aboutme_text {
  text-align: center;
  font-size: 1.5em;
  max-width: 380px;
  margin: 0 auto;
  overflow: hidden;
}

.aboutmeSection .emailview {
  font-size: 1.2rem;
  font-weight: 550;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
}

@media (max-width: 420px) {
  .aboutmeSection .aboutme_text {
    font-size: 1.5em;
  }
}

@media (max-width: 350px) {
  .aboutmeSection .emailview {
    font-size: 0.6em;
  }
}

.aboutmeSection .skills {
  width: 90%;
  max-width: 900px;
  margin: 6em 0;
  text-align: center;
}

.aboutmeSection .skills .badge {
  margin: 1.5em 2em;
  width: 110px;
  height: 110px;
  border-radius: 25%;
  display: inline-block;
  top: 0;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(235, 235, 235, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aboutmeSection .skills .badge:hover {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.aboutmeSection .skills .rounded {
  width: 84px;
  height: 84px;
  background-color: #e0e0e0;
  position: absolute;
  margin: 13px 13px 13px 13px;
  z-index: 10;
  border-radius: 25%;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.aboutmeSection .skills .java {
  background: #1565c0;
}

.aboutmeSection .skills .python {
  background: #ffd900;
}

.aboutmeSection .skills .cprog {
  background: #3949ab;
}

.aboutmeSection .skills .javascript {
  background: #ffd600;
}

.aboutmeSection .skills .html {
  background: darkorange;
}

.aboutmeSection .skills .css {
  background: #039ae5;
}

@media (max-width: 550px) {
  .aboutmeSection .skills .badge {
    margin: 1.5em 1.2em;
  }
}

@media (max-width: 420px) {
  .aboutmeSection .skills .badge {
    margin: 1em 0.5em;
  }
}

#projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("Img/black.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 60px 30px;
}

.mainProjectComponent {
  background-color: #f5f3f2;
  -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
  color: #000000;
}

.projectThumbnaill img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.mainProjectComponent section {
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.titlebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5em;
}

.title {
  display: inline-block;
  font-size: 2em;
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 30px;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 6px 8px;
  height: auto;
  line-height: 1;
  color: inherit;
  margin: 10px 0;
}

.description {
  margin: 0.6em 0;
  line-height: 1.5;
}

.btnContainer {
  margin: 10px 0;
}

.btnContainer {
  text-align: center;
}

@media (min-width: 640px) {
  #projectContainer .mainProjectComponent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: unset;
  }
  #projectContainer .mainProjectComponent .projectThumbnaill,
  #projectContainer .mainProjectComponent section {
    width: 50%;
  }
}

.timeline-body-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#020a55), to(#004e92));
  background: linear-gradient(to bottom, #020a55, #004e92);
}

.timeline-body-container .timeline_body {
  max-width: 700px;
  margin: 0 auto;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.timeline-body-container .timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: black;
}

.timeline-body-container .timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 4px;
  height: 100%;
  background-color: #f5f3f2;
}

.timeline-body-container .timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline-body-container .timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  background-color: #f5f3f2;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.timeline-body-container .timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.timeline-body-container .timeline .timeline-container .timeline-body {
  background-color: #f5f3f2;
  border-radius: 20px;
  padding: 25px;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.timeline-body-container .timeline .timeline-container .timeline-body:before {
  content: "";
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.timeline-body-container .timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 20px;
  font-size: 2em;
}

.timeline-body-container .timeline .timeline-container .timeline-body .timeline-title .date {
  font-size: 0.6em;
}

.conatct-form-container {
  padding-bottom: 30px;
  background-image: url(Img/sample3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.conatct-form-container .input-container {
  padding: 0 30px 30px 30px;
  margin: 0 auto;
  max-width: 500px;
}

.conatct-form-container .styled-input {
  margin: 1rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conatct-form-container .styled-input label {
  color: black;
  padding: 1.2rem 0px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 1.1rem;
  font-weight: 550;
}

.conatct-form-container input:focus ~ label,
.conatct-form-container textarea:focus ~ label,
.conatct-form-container input:valid ~ label,
.conatct-form-container textarea:valid ~ label {
  font-size: 1em;
  color: #161616;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.conatct-form-container input,
.conatct-form-container textarea {
  padding: 30px;
  border: none;
  font-size: 1.2rem;
  background-color: #eeeeee;
  color: black;
  outline: none;
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.45);
}

.conatct-form-container textarea {
  min-height: 10em;
}

.conatct-form-container .contactButton {
  margin: 0 auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */